/* Hide scrollbars but keep scrolling enabled */
* {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE/Edge */
}

*::-webkit-scrollbar {
	width: 0;
	height: 0;
	display: none; /* Chrome/Safari */
}

main {
	display: flex;
	flex-direction: column;
	align-items: start;
	padding-left: 15px;
	padding-right: 15px;
	height: 100%;
	gap: 10px;
}

[data-framer-theme="light"] {
	--color-image-border: rgba(0, 0, 0, 0.1);
}

[data-framer-theme="dark"] {
	--color-image-border: rgba(255, 255, 255, 0.15);
}

.toolbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	width: 100%;
}

.toolbar > select {
	flex: 1;
}

.search-header {
	z-index: 10;
	position: relative;
	width: 100%;
}

.search-input {
	width: 100%;
	padding-left: 30px !important;
	padding-right: 2rem;
}

.search-icon-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	left: 11px;
	top: 0;
	bottom: 0;
	color: var(--framer-color-text-tertiary);
}

.grid {
	width: 100%;
	display: grid;
	gap: 10px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	padding-bottom: 15px;
	overflow: auto;
}

.empty-state {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 100%;
	flex: 1;
	min-height: 0;
	color: var(--framer-color-text-secondary);
	padding: 20px;
	pointer-events: none;
}

.grid.canvas {
	grid-template-columns: repeat(auto-fill, minmax(max(50px, calc(100% / 9)), 1fr));
}

.grid.image {
	grid-template-columns: repeat(auto-fill, minmax(max(100px, calc(100% / 6)), 1fr));
}

.twemoji-flag {
	width: 100%;
	aspect-ratio: 50 / 36;
	object-fit: cover;
	cursor: pointer;
}

.wikipedia-flag {
	width: 100%;
	height: 100%;
	object-fit: contain;
	border-radius: 4px;
	position: relative;
	background-color: var(--framer-color-bg-secondary);
	cursor: pointer;
}

.wikipedia-flag::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	border-radius: inherit;
	box-shadow: inset 0 0 0 1px var(--color-image-border);
}

.wikipedia-flag img {
	width: 100%;
	height: 100%;
	aspect-ratio: 3 / 2;
	border-radius: inherit;
	object-fit: contain;
}
